:root {
  --color-primary: #6366F1;
  --color-primary-light: #A78BFA;
  --color-primary-dark: #4338CA;
  --color-secondary: #3B82F6;
  --color-secondary-light: #93C5FD;
  --color-secondary-dark: #1D4ED8;
  --color-tertiary: #6EE7B7;
  --color-tertiary-light: #A7F3D0;
  --color-tertiary-dark: #34D399;
  --shadow-dark: 0 2rem 3rem rgba(0,0,0,.3);
  --line: 4px solid var(--color-primary-light);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.1); }

* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Viaoda Libre', cursive,sans-serif; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 33.75em) {
    html {
      width: 100%;
      height: 100%; } }

body {
  background-image: linear-gradient(to left bottom, var(--color-primary), var(--color-primary-dark));
  min-height: 80vh;
  min-width: 100vh;
  background-size: cover;
  background-repeat: no-repeat; }

.logo {
  height: 3.24rem;
  margin-left: 2.7rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hotpink;
  position: relative; }
  .search_autocombox:not(:hover) {
    opacity: 0; }
  .search_autocombox {
    opacity: 0; }
  .search p {
    text-align: center;
    color: aqua;
    font-weight: 700;
    background-color: rgba(182, 236, 236, 0.274); }
  .search_autocombox {
    position: absolute; }
  .search:hover .search_autocombox {
    opacity: 1;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.779);
    position: absolute;
    top: 3.7rem;
    left: 3.9rem;
    list-style: none;
    padding: 2rem 4rem;
    border-radius: 0 0 5rem 5rem;
    width: 32rem; }
  .search li:hover {
    background-color: white;
    width: 100%;
    padding: .8rem;
    color: black;
    cursor: pointer; }
    .search li:hover:not(:last-child) {
      margin-bottom: .5rem; }
  @media only screen and (max-width: 33.75em) {
    .search {
      order: 1;
      flex: 0 0 100%; } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: hotpink;
    background-color: #5900ff;
    border: none;
    padding: .7rem 2rem;
    border-radius: 10rem;
    width: 90%;
    transition: all .5s;
    margin-right: -3.25rem; }
    .search__input:focus {
      width: 100%;
      outline: none;
      background-color: black; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: yellow;
      margin-left: 1rem; }
  .search__input:focus + .search__button {
    background-color: black; }
  .search__button {
    border: none;
    background-color: #5900ff; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(0.2rem); }
  .search .search .active .search_autocombox {
    pointer-events: auto;
    opacity: 1; }
  .search .search .active .search_autocombox li {
    display: block; }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: hotpink; }

.user-nav {
  background-image: linear-gradient(to top, #d33182, hotpink);
  align-items: center;
  display: flex;
  align-self: stretch; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: black; }
  .user-nav__icon-box {
    position: relative; }
    .user-nav__icon-box:hover {
      box-shadow: 0 0 5px #3eeb13, 0 0 25px #3eeb13, 0 0 50px #3eeb13, 0 0 100px #3eeb13; }
      .user-nav__icon-box:hover .user-nav__icon {
        fill: aqua;
        box-shadow: 0 0 5px #3eeb13, 0 0 25px #3eeb13, 0 0 50px #3eeb13, 0 0 100px #3eeb13; }
  .user-nav__icon {
    height: 2.3rem;
    width: 2.3rem; }
  .user-nav__notification {
    border-radius: 50%;
    background-color: chocolate;
    font-size: 1.3rem;
    width: 1.7rem;
    height: 1.7rem;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user:hover {
    color: aqua;
    box-shadow: 0 0 5px #3eeb13, 0 0 25px #3eeb13, 0 0 50px #3eeb13, 0 0 100px #3eeb13; }
  .user-nav__user-photo {
    height: 3rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .user-nav__user-name:hover {
    color: aqua;
    box-shadow: 0 0 5px #3eeb13, 0 0 25px #3eeb13, 0 0 50px #3eeb13, 0 0 100px #3eeb13; }

.side-nav {
  font-size: 1.3rem;
  list-style: none;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      display: flex;
      flex-direction: row;
      margin: 0%; } }
  .side-nav_item {
    position: relative; }
    .side-nav_item:not(:last-child) {
      margin-bottom: 1rem; }
      @media only screen and (max-width: 56.25em) {
        .side-nav_item:not(:last-child) {
          margin-bottom: 0%; } }
    @media only screen and (max-width: 56.25em) {
      .side-nav_item {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        padding: 1.5rem; } }
  .side-nav_item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: .4rem;
    background-color: black;
    transform: scaleY(0);
    transition: transform 0.3s, width 0.3s cubic-bezier(1, 0, 0, 1) 0.3s, background-color 0.1s; }
  .side-nav_item:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav_item:active::before {
    background-color: black; }
  .side-nav_link:link, .side-nav_link:visited {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    color: white;
    display: flex;
    align-items: center;
    z-index: 10;
    position: relative;
    padding: 1.5rem 2.5rem; }
    @media only screen and (max-width: 33.75em) {
      .side-nav_link:link, .side-nav_link:visited {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: .7rem .7rem; } }
  .side-nav_icon {
    width: 3rem;
    height: 3rem;
    margin-right: 1.5rem;
    fill: currentColor; }
    @media only screen and (max-width: 33.75em) {
      .side-nav_icon {
        margin-right: 0%;
        height: 2.3rem;
        width: 2.3rem;
        margin-bottom: .7rem; } }
  .side-nav_link:hover .side-nav_text {
    color: hotpink; }
  .side-nav_link:hover .side-nav_icon {
    color: greenyellow; }

.legal {
  font-size: 1.2rem;
  color: var(--color-secondary-dark);
  text-align: center;
  padding: 2.5rem; }
  @media only screen and (max-width: 56.25em) {
    .legal {
      display: none; } }

.gallery {
  display: flex; }
  .gallery_photo {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  border-bottom: var(--line);
  align-items: center;
  background-color: black; }
  .overview_heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: 1.5rem 3rem;
    color: aqua; }
  .overview_stars {
    margin-right: auto;
    display: flex; }
  .overview_icon-star, .overview_icon-fire {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  .overview_location {
    font-size: 1.2rem;
    display: flex;
    align-items: center; }
  .overview_icon-fire {
    margin-right: .5rem; }
  .overview_rating {
    background-color: #ff1900;
    color: white;
    margin-left: 3rem;
    align-self: stretch;
    padding: 0 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .overview_rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -.33rem; }
  .overview_rating-count {
    font-size: .8rem;
    text-transform: uppercase; }

.btn-inline {
  border: none;
  color: aqua;
  font-size: inherit;
  border-bottom: .1rem solid currentColor;
  padding-bottom: .2rem;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s; }
  .btn-inline span {
    margin-left: .3rem;
    transition: margin-left .4s; }
  .btn-inline:hover {
    color: turquoise; }
    .btn-inline:hover span {
      margin-left: .6rem; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.07);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.paragraph:not(:last-of-type) {
  margin-bottom: 1rem; }

.list {
  list-style: none;
  padding: 3rem 0;
  margin: 3rem 0;
  border-bottom: var(--line);
  border-top: var(--line);
  display: flex;
  flex-wrap: wrap; }
  .list_item {
    flex: 0 0 50%;
    margin-bottom: .7rem; }
  .list_item::before {
    content: "";
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: .7rem;
    background-image: url(../img/SVG/feather.svg);
    background-size: cover; }
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      .list_item::before {
        background-color: hotpink;
        -webkit-mask-image: url(../img/SVG/feather.svg);
        -webkit-mask-size: cover;
        mask-image: url(../img/SVG/feather.svg);
        mask-size: cover;
        background-image: none; } }

.recommend {
  font-size: 1.2rem;
  color: hotpink;
  font-weight: 700;
  display: flex;
  align-items: center; }
  .recommend_count {
    margin-right: auto; }
  .recommend_photo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-size: cover;
    box-sizing: content-box;
    border: .2rem solid white; }
    .recommend_photo:not(:last-child) {
      margin-right: -1.2rem; }

.review {
  background-color: rgba(243, 243, 243, 0.255);
  box-shadow: var(--shadow-light);
  padding: 2rem;
  margin-bottom: 3.5rem;
  overflow: hidden;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .review {
      padding: 1rem;
      margin-bottom: 2.5rem; } }
  .review_text {
    margin-bottom: 1rem;
    z-index: 20;
    position: relative;
    color: white; }
  .review_user {
    display: flex;
    align-items: center; }
  .review_user-box {
    display: flex;
    margin-right: auto;
    flex-direction: column; }
  .review_photo {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-right: .5rem; }
  .review_user-name {
    color: hotpink;
    font-weight: 700; }
  .review_user-date {
    font-size: 1.15rem;
    color: white; }
  .review_rating {
    color: hotpink;
    font-size: 2rem;
    font-weight: 700; }
  .review::before {
    content: "\201C";
    position: absolute;
    top: -1.75rem;
    font-family: 'Viaoda Libre', cursive,sans-serif;
    left: 0rem;
    font-size: 17rem;
    color: gray;
    line-height: 1;
    z-index: 1; }

.cta {
  padding: 3.5rem 0;
  text-align: center;
  position: relative;
  background-color: rgba(55, 20, 184, 0.295); }
  .cta_bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    opacity: .3;
    overflow: hidden; }
    .cta_bg-video-content {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .cta > * {
    width: 100%;
    height: 100%;
    display: inline-block;
    transition: all .5s;
    overflow: hidden; }
  .cta_visible {
    padding: 2rem 7rem;
    transition: all .5s; }
  .cta_invisible {
    position: absolute;
    top: -100%;
    padding: 2rem 0;
    transition: all .5s; }
  .cta:hover .cta_visible {
    transform: translateY(200%); }
  .cta:hover .cta_invisible {
    top: 3rem; }
  .cta:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark)); }
  .cta:focus {
    outline: none;
    animation: pulsate 1s infinite; }
  @media only screen and (max-width: 56.25em) {
    .cta {
      padding: 2.5rem 0; } }
  .cta_book-now {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    color: hotpink; }

.btn {
  cursor: pointer;
  font-family: 'Viaoda Libre', cursive,sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 10rem;
  overflow: hidden;
  border: none;
  color: white;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  position: relative;
  overflow: hidden; }
  .btn > * {
    width: 100%;
    height: 100%;
    display: inline-block;
    transition: all .5s; }
  .btn_visible {
    padding: 2rem 7rem; }
  .btn_invisible {
    position: absolute;
    left: 0%;
    top: -100%;
    padding: 2rem 0; }
  .btn:hover .btn_visible {
    transform: translateY(100%); }
  .btn:hover .btn_invisible {
    top: 0; }
  .btn:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark)); }
  .btn:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: -1;
  opacity: .7;
  overflow: hidden; }
  .bg-video-content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.parpadea {
  animation-name: parpadeo;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.u-clase-parpadea {
  font-family: 'Viaoda Libre', cursive,sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  display: inline-block;
  color: transparent;
  letter-spacing: .8rem; }

@keyframes parpadeo {
  0% {
    opacity: 1.0;
    color: aqua; }
  55% {
    opacity: 1.0;
    color: hotpink; }
  100% {
    opacity: 1.0;
    color: aqua; } }

.container {
  max-width: 120rem;
  margin: 7rem 9rem;
  background-color: var(--color-secondary);
  box-shadow: var(--shadow-dark);
  min-height: 70rem; }
  @media only screen and (max-width: 33.75em) {
    .container {
      flex-direction: column;
      max-width: 100vh;
      min-height: 100vh;
      max-width: 60rem; } }

.header {
  font-size: 1.7rem;
  height: 7rem;
  background-image: linear-gradient(to top, #1bb49b, #20ebc9);
  border-bottom: 1px solid var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 33.75em) {
    .header {
      flex-wrap: wrap;
      height: 10rem;
      align-content: center; } }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.sidebar {
  border-color: var(--color-tertiary-light);
  flex: 0 0 17%;
  background-image: linear-gradient(to left, #1282af, #7acee7);
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .sidebar {
      justify-content: space-evenly;
      margin-bottom: 0%; } }

.hotel-view {
  flex: 1; }

.detail {
  position: relative;
  display: flex;
  padding: 4.5rem;
  background-color: #2f302c;
  border-bottom: var(--line);
  font-size: 1.3rem; }
  .detail_bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    opacity: .3;
    overflow: hidden; }
    .detail_bg-video-content {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  @media only screen and (max-width: 56.25em) {
    .detail {
      padding: 2.4rem; } }
  @media only screen and (max-width: 33.75em) {
    .detail {
      flex-direction: column; } }

.description {
  background-color: rgba(211, 228, 235, 0.288);
  color: white;
  font-weight: 700;
  box-shadow: var(--shadow-light);
  padding: 2.7rem;
  flex: 0 0 60%;
  margin-right: 4.5rem; }
  @media only screen and (max-width: 56.25em) {
    .description {
      padding: 2rem;
      margin-right: 2.4rem; } }
  @media only screen and (max-width: 33.75em) {
    .description {
      margin-right: 0%;
      margin-bottom: 2rem; } }

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }
