.container {
    max-width: 120rem;
    margin: 8rem 10rem;
    background-color: var(--color-secondary);
    box-shadow: var(--shadow-dark);
    min-height: 70rem;
}

.header {
    font-size: 1.7rem;
    height: 7rem;
    background-color: var(--color-secondary-dark);
    border-bottom: var(--color-secondary-light);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.sidebar {
    border-color: var(--color-tertiary-light);
    flex: 0 0 17%;
    background-color: var(--color-tertiary);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    height: 80rem;
    background-color: lavender;
    flex: 1;
}